@font-face {
    font-family: Lato-Light;
    src: url(Lato-Light.ttf)
}

body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: Arial;
    /*background-color: #FFFFFF;*/
    color: #333333;
}

/*
#background-image {
    position: fixed;
    z-index: -2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/res/background_image);
    background-size: cover;
}

#background-cover {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
*/

#container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    box-sizing: border-box;
    color: #333333;
    padding: 40px 40px;
}

#top-board {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 300px;
    background-image: url(header.jpg);
    background-size: cover;
    font-family: Lato-Light;
}

.top-title {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 36px;
}

.top-minor-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    line-height: 18px;
    color: #7F7F7F;
}

.minor {
    font-size: 12px;
}

.main {
    position: absolute;
    display: flex;
    top: 350px;
    box-sizing: border-box;
    width: calc(100% - 80px);
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card {
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    /*background-color: #FFFFFF;*/
    color: #333333;
    box-sizing: border-box;
    width: 100%;
    max-width: 512px;
    height: 256px;
    margin: 0 auto;
}

.card > table {
    display: block;
    color: #333333;
}

.card-title {
    display: block;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    font-size: 20px;
    height: 60px;
    color: #3F51B5;
    border-bottom: 1px solid #EEEEEE;
}

.card-content {
    display: block;
    width: 100%;
    padding: 10px 20px;
    padding-top: 0px;
}

.full-width {
    width: 100%;
}

.graph {
    margin-top: 22px;
    margin-bottom: 22px;
}

.graph-label {
    font-size: 14px;
}